<!-- Header -->
<header class="fixed-header">
    <div class="container">
        <nav class="navbar">
            <!-- Logo -->
            <a href="/homepage" class="navbar__logo">
                <img
                    class="logo"
                    src="/images/K.svg"
                    alt="Besnik."
                />
                <span>K Shopping</span>
            </a>

            <!-- Navigation -->
            <ul id="pc-nav">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/aboutus">About us</a></li>
            </ul>

            <!-- Search bar -->
            <div class="searchbar">
                <input type="text" placeholder="Tìm kiếm sản phẩm..." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>                

            <!-- Action -->
            <div class="actions">
                <a href="#!" class="btn action-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <a href="#!" class="btn action-link">Sign in</a>
                <!-- <a href="#!" class="btn action-btn">Sign up</a> -->
            </div>
        </nav>
    </div>
</header>